body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    touch-action: none;
    width: 100%;
}

canvas {
    position: absolute;
}

.description-text {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.layout {
    position: absolute;
    left: calc(50% - 700px);
    top: calc(50% - 350px);
    color: white;
    display: flex;
    flex-direction: row;
    margin: auto;
}

p,
.large-link {
    color: whitesmoke;
    line-height: 60px;
    font-size: 56px;
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
    text-decoration: none;
    text-decoration-style: none;
}

a {
    font-size: 21px;
    color: white;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 672px;
    height: 672px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 14px;
    outline: 14px solid black;
}

@media (max-width: 700px) {
    img {
        width: 100vw;
    }
}

@media (max-width: 1400px) {
    p,
    .large-link {
        color: whitesmoke;
        line-height: 30px;
        font-size: 28px;
        margin: 0;
        margin-bottom: 14px;
        padding: 0;
        text-decoration: none;
        text-decoration-style: none;
    }

    a {
        font-size: 11px;
        color: white;
        text-decoration: underline;
        text-decoration-style: dotted;
    }
    .layout {
        position: relative;
        left: 0;
        top: 0;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .description {
        width: 672px;
        height: 672px;
        margin: 14px 0;
        padding: 14px;
        box-sizing: border-box;
    }
}
