body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    height: 100vh;
    touch-action: none;
}

canvas {
    display: block;
    margin: auto;
}

#app {
    position: absolute;
    color: white;
    top: 0;
    right: 0;
}